# simple configuration for a standalone test "network"
# see digitalbits-core_example.cfg for a description of the configuration parameters

HTTP_PORT=8080
PUBLIC_HTTP_PORT=true
RUN_STANDALONE=true
NODE_HOME_DOMAIN="my.local.domain"
NETWORK_PASSPHRASE="LiveNet Global DigitalBits Network ; February 2021"
FEE_PASSPHRASE="LiveNet DigitalBits Fee Pool ; February 2021"

NODE_SEED="SDCOVWL3TVKPMJA3KWXANJQKKXJTYDAK5IJ5VPUARZLE53CW6SWE7AKO self"
NODE_IS_VALIDATOR=true

#DATABASE="postgresql://dbname=digitalbits user=postgres password=password host=localhost"
DATABASE="sqlite3://digitalbits.db"

COMMANDS=["ll?level=debug"]

# 0 here as the node cannot tolerate a failure as the node is the network
# unsafe by design
FAILURE_SAFETY=0
UNSAFE_QUORUM=true

[[HOME_DOMAINS]]
HOME_DOMAIN="my.local.domain"
QUALITY="MEDIUM"

[HISTORY.local]
get="cp /var/lib/digitalbits-core/history/vs/{0} {1}"
put="cp {0} /var/lib/digitalbits-core/history/vs/{1}"
mkdir="mkdir -p /var/lib/digitalbits-core/history/vs/{0}"