name: LinuxMacOS
# Controls when the action will run. 
on: 
  push:
  # Triggers the workflow on push or pull request events but only for the master branch
#  push:
#    branches: [ master ]
#  pull_request:
#    branches: [ master ]
  # release:
  #   types: [created]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  tagbump:
    runs-on: ubuntu-16.04
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'   # This workflow contains a single job called "build"
      - name: Github Tag Bump
        id: bump_version
        uses: anothrNick/github-tag-action@1.34.0
        env:
          DEFAULT_BUMP: "patch"
          RELEASE_BRANCHES: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: false

      - uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.bump_version.outputs.tag }}
          bodyFile: "README.md"
          token: ${{ secrets.GITHUB_TOKEN }}   
  linuxbuild:
    needs: tagbump
    runs-on: ubuntu-16.04
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Get Latest Tag
        id: previoustag
        uses: WyriHaximus/github-action-get-previous-tag@v1

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y software-properties-common
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt-get update
          sudo apt-get install -y git alien \
                    build-essential pkg-config \
                    autoconf automake libtool \
                    bison flex libpq-dev \
                    libunwind-dev parallel \
                    clang-8 \
                    gcc-6 g++-6 cpp-6 \
                    libc++-8-dev libc++abi-8-dev unzip curl \
                    python3-pip ruby ruby-dev rubygems python3-setuptools
          pip3 install wheel
          pip3 install cloudsmith-cli==0.26.0
          pip3 uninstall click -y
          pip3 install click==7.1.2
          sudo gem install --no-document fpm

      - name: Build the app    
        run: |
          export ENV CC=clang-8
          export ENV CXX=clang++-8
          export ENV CFLAGS="-O3 -g1 -fno-omit-frame-pointer"
          export ENV CXXFLAGS="$CFLAGS -stdlib=libc++" 
           ./autogen.sh
           ./configure  
           make -j`nproc`
           sudo make install
           mkdir /opt/digitalbits    
           sudo cp /usr/local/bin/digitalbits-core /opt/digitalbits/digitalbits-core     
           sudo tar -czvf digitalbits-core-linux-amd64.tar.gz /opt/digitalbits/digitalbits-core

      - name: Make .deb package
        run: |
            fpm -f -s dir -t deb -n digitalbits-core -v ${{ steps.previoustag.outputs.tag }} --deb-use-file-permissions \
            /opt/digitalbits/digitalbits-core=/usr/local/bin/digitalbits-core \
            digitalbits-core.service=/etc/systemd/system/digitalbits-core.service \
            digitalbits-core=/etc/logrotate.d/digitalbits-core
      
      - name: Make .rpm package 
        run: | 
          sudo alien -r -k digitalbits-core_${{ steps.previoustag.outputs.tag }}_amd64.deb
          sudo cp digitalbits-core-linux-amd64.tar.gz digitalbits-core_${{ steps.previoustag.outputs.tag }}_linux-amd64.tar.gz 
          
      - name: Upload to cloudsmith.io
        run: |
          export CLOUDSMITH_API_KEY=${{ secrets.CLOUDSMITH_API_KEY }}
          export PATH=$PATH:$HOME/.local/bin
          cloudsmith push deb xdb-foundation/digitalbits-core/ubuntu/focal digitalbits-core_${{ steps.previoustag.outputs.tag }}_amd64.deb
          cloudsmith push rpm xdb-foundation/digitalbits-core/any-distro/any-version digitalbits-core-${{ steps.previoustag.outputs.tag }}-1.x86_64.rpm
          cloudsmith push raw xdb-foundation/digitalbits-core digitalbits-core_${{ steps.previoustag.outputs.tag }}_linux-amd64.tar.gz 

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "digitalbits-core-linux-amd64.tar.gz"
          omitBodyDuringUpdate: true
          tag: ${{ steps.previoustag.outputs.tag }}
          token: ${{ secrets.GITHUB_TOKEN }}   

  # This workflow contains a single job called "build"
  macosbuild:
    needs: tagbump
    # The type of runner that the job will run on
    runs-on: macos-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Get Latest Tag
        id: previoustag
        uses: WyriHaximus/github-action-get-previous-tag@v1
        
      - name: Install deps
        run: |
          brew install libsodium
          brew install libtool
          brew install automake
          brew install pkg-config
          brew install libpqxx 
          pip install --upgrade cloudsmith-cli

      - name: Build the app    
        run: |
          export CLOUDSMITH_API_KEY=${{ secrets.CLOUDSMITH_API_KEY }}
          export PATH=$PATH:/Library/Frameworks/Python.framework/Versions/2.7/bin
          sudo touch digitalbits-core_${{ steps.previoustag.outputs.tag }}_darwin-amd64.tar.gz
          cloudsmith push raw xdb-foundation/digitalbits-core digitalbits-core_${{ steps.previoustag.outputs.tag }}_darwin-amd64.tar.gz 

           ./autogen.sh
           ./configure  
           make -j`nproc`
           sudo make install
           mkdir /opt/digitalbits    
           sudo cp /usr/local/bin/digitalbits-core /opt/digitalbits/digitalbits-core     
           sudo tar -czvf digitalbits-core-darwin-amd64.tar.gz /opt/digitalbits/digitalbits-core
           sudo cp digitalbits-core-darwin-amd64.tar.gz digitalbits-core_${{ steps.previoustag.outputs.tag }}_darwin-amd64.tar.gz 
           cloudsmith push raw xdb-foundation/digitalbits-core digitalbits-core_${{ steps.previoustag.outputs.tag }}_darwin-amd64.tar.gz 

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "digitalbits-core-darwin-amd64.tar.gz"
          omitBodyDuringUpdate: true
          tag: ${{ steps.previoustag.outputs.tag }}
          token: ${{ secrets.GITHUB_TOKEN }}   